.figure p.caption {
    position: relative;
    transform: translateX(-50%);
    bottom: 60px;
    left: 50%;
    margin: 0 auto;
    padding: 2px 5px;
    color: #333333;
    font-size: .7em;
    text-align: left;
    z-index: 5;
    display: inline-block;
    max-width: 432px;
}